#rcorners {
    border-radius: 15px;
    background:white;
    margin-left: 30%;
    margin-top: 100px;
    width: 350px;
    height: 350px;  
    padding-left: 100px;
    padding-right: 100px;
}
#rcorners2 {
    border: none;
    border-radius: 30px;
    background-image: url('https://st4.depositphotos.com/3271841/27836/v/600/depositphotos_278363316-stock-video-multicolored-motion-gradient-background-pastel.jpg');
    margin: 0;
    width: 350px;
    height: 50px;
    color:white;
    font-size: 25px;

}
body {
    background-image: url('https://www.teahub.io/photos/full/43-436329_blue-purple-gradient-purple-blue-and-green.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#loginEmail{
    font-family:verdana; 
    height:30px; 
    width: 250px; 
    font-size: 18px; 
    border: none; 
    border-bottom: 2px solid gray;
}
#emailIcon{
    width: 30px; 
    height: 30px; 
    vertical-align: middle;
}
#welcomeText{
    color:rgb(51, 51, 51); 
    text-align: center; 
    font-size: 40px; 
    font-family:verdana; 
    padding-top: 50px;
}

table#workersTable {
    font-family: verdana;
    margin-left: 25%;
    width: 50%;
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

table#beersTab {
    font-family: verdana;
    margin-left: 25%;
    width: 50%;
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

button.deleteButton {
    margin-left: 3px;
    height:50px;
    width:50px;
    background-image: url(https://image.flaticon.com/icons/png/512/61/61918.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;  
}
button.modifyButton{
    margin-left: 20px;
    height:50px;
    width:50px;
    background-image: url(https://image.flaticon.com/icons/png/512/84/84380.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;  
}

input.modifyBeerForm {
    height: 40px; 
    border-radius: 15px; 
    width: 470px; 
    font-size: 16px; 
    margin-left: 30%; 
    font-family: verdana; 
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
}

span.modifyFormLabel {
    font-size: 16px; 
    margin-left: 30%; 
    font-family: verdana; 
    vertical-align:middle;
}

.InfoLabel{
    font-size: 20px; 
    margin-left: 10%; 
    font-family: verdana; 
    vertical-align:middle;
}

.InfoLabel2{
    font-size: 14px; 
    margin-left: 10%; 
    font-family: verdana; 
    vertical-align:middle;
}

span.addFormLabel {
    font-size: 16px; 
    margin-left: 5%;
    font-family: verdana; 
    vertical-align:middle;
}

.addBeerForm {
    height: 40px; 
    border-radius: 15px; 
    margin-left: 30px;
    width: 470px; 
    font-size: 16px; 
    font-family: verdana; 
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
}

.addBeerSubmit{
    margin-left: 30px; 
    margin-top: 10px;
    vertical-align: top; 
    width: 480px; 
    height: 60px; 
    border-radius: 10px;  
    background-image: url('https://static.thenounproject.com/png/1053562-200.png'); 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right:30px;
}

.searchBeerSubmit{
    margin-left: 15px; 
    margin-top: 10px;
    vertical-align: top; 
    width: 49px; 
    height: 49px; 
    border-radius: 10px;  
    background-image: url('https://cdn.discordapp.com/attachments/462774773391556640/788076660440039434/SCj5jP9ha4gLHfnGDXM23cTyVEDYgCJiZChLAVXQpZ1-TiZH6eaLboDmu-uDta8VMLAHiptdtSXx6CIFYirt8zMnYQ5vo4YHpuNj.png'); 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right:30px;
}


input.modifyBeerSubmit {
    margin-top: 20px;
    margin-left: 30%; 
    vertical-align: top; 
    width: 480px;
    height: 46px; 
    border-radius: 10px;  
    background-image: url('https://icon-library.com/images/check-mark-icon-png/check-mark-icon-png-25.jpg'); 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right:30px;
}

th{
    font-size: 20px;
}

td{
   padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-image: linear-gradient(0deg, rgba(238,99,242,1) 50%, rgba(162,90,234,1) 100%);;
    color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

